

body {
     word-break: break-word !important;
}
@media (min-width: 992px) { 
  .nav-item {
    margin: auto;
  } 
}

.add-new-unit .add-new-info form .show-images .row {
  width: 100%
}


/* override unit card style */
.food {
  min-height: 280px !important;
}
.food > .info > .contentt {
  padding: 15px 5px !important;
}
.food > .info {
  min-height: 110px !important;  
}

.food > .info > .recipe > i {
  margin: 25px 0 15px !important;
  font-size: 30px;
}

.download.available-button {
    text-align: center;
    color: #fff;
    line-height: 11px;
    font-size: 25px;
    padding-top: 10px;
}

.download.available-button.active {
  background: #c0392b;
}
.download.available-button.active:hover {
  background: #e74c3c;
}

.download.available-button.not_active {
  background: #27ae60;
}
.download.available-button.not_active:hover {
  background: #2ecc71;
}



/* override chat inputs */

.right-section-bottom .btn-send,
.right-section-bottom input {
  padding: 10px 10px !important;
}

.right-section-bottom input {
  width: calc(100% - 86px) !important;
}

.no-conversations {
  width: 99%!important;
  text-align: center;
}

.no-conversations img {
  width: 30%!important;
}

.no-conversations p {
  font-weight: bold !important;
}

/*.left-section,*/
.right-section .message 
{
  overflow: scroll;
}

.left-section .chatList .img img {
    width: 40px;
    height: 40px;
}


/* unit details */

p.unit-intro-location {
    margin: auto;
    background: #378ae1;
    color: #fff;
    padding: 3px 13px;
}

p.unit-intro-time {
  margin: auto;
  color: #546794;
  padding: 3px 13px;
  font-size: 12px;
  white-space: nowrap;
  line-height: 25px;
}