 /* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('{{asset('frontend/images/loading.gif')}}') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

@media (min-width: 992px) { 
  .nav-item {
    margin: auto;
  } 
}

/* override unit card style */
.food {
  min-height: 280px !important;
}
.food > .info > .contentt {
  padding: 15px 5px !important;
}
.food > .info {
  min-height: 110px !important;  
}

.food > .info > .recipe > i {
  margin: 25px 0 15px !important;
}


/* override chat inputs */

.right-section-bottom .btn-send,
.right-section-bottom input {
  padding: 10px 10px !important;
}

.right-section-bottom input {
  width: calc(100% - 86px) !important;
}

/* override  chat page */
/*.left-section,*/
.right-section .message 
{
  overflow: scroll;
}